body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
}

.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 300px;
    background: white;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

.form-box h2 {
    color: #3498db;
}

.form-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.form-box button {
    width: 100%;
    margin-top: 8px;
}

.form-box a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}